USE [TazeKalsinDB]
GO
/****** Object:  Table [dbo].[Basvuru_Belge]    Script Date: 13.05.2026 12:48:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Basvuru_Belge](
	[Belge_ID] [int] IDENTITY(1,1) NOT NULL,
	[Basvuru_ID] [int] NOT NULL,
	[Belge_Turu] [varchar](100) NOT NULL,
	[Dosya_Yolu] [varchar](255) NULL,
	[Onay_Durumu] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Belge_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bildirim]    Script Date: 13.05.2026 12:48:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bildirim](
	[Bildirim_ID] [int] IDENTITY(1,1) NOT NULL,
	[Tuketici_ID] [int] NULL,
	[Baslik] [varchar](100) NOT NULL,
	[Icerik] [text] NOT NULL,
	[Etiket] [varchar](50) NULL,
	[Tarih] [datetime] NULL,
	[Okundu_Mu] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Bildirim_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bildirimler]    Script Date: 13.05.2026 12:48:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bildirimler](
	[Bildirim_ID] [int] IDENTITY(1,1) NOT NULL,
	[Tuketici_ID] [int] NOT NULL,
	[Baslik] [varchar](100) NOT NULL,
	[Mesaj] [varchar](255) NOT NULL,
	[Kategori] [varchar](50) NULL,
	[Okundu_Mu] [bit] NULL,
	[Tarih] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Bildirim_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Favori]    Script Date: 13.05.2026 12:48:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favori](
	[Tuketici_ID] [int] NOT NULL,
	[Urun_ID] [int] NOT NULL,
	[Eklenme_Tarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Tuketici_ID] ASC,
	[Urun_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Favori_Urunler]    Script Date: 13.05.2026 12:48:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favori_Urunler](
	[Favori_ID] [int] IDENTITY(1,1) NOT NULL,
	[Tuketici_ID] [int] NOT NULL,
	[Urun_ID] [int] NOT NULL,
	[Ekleme_Tarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Favori_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kategori]    Script Date: 13.05.2026 12:48:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategori](
	[Kategori_ID] [int] IDENTITY(1,1) NOT NULL,
	[Kategori_Adi] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Kategori_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Market]    Script Date: 13.05.2026 12:48:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Market](
	[Market_ID] [int] IDENTITY(1,1) NOT NULL,
	[Market_Adi] [varchar](100) NOT NULL,
	[Adres] [nvarchar](max) NULL,
	[Konum_Enlem] [float] NULL,
	[Konum_Boylam] [float] NULL,
	[Acilis_Saati] [time](7) NULL,
	[Kapanis_Saati] [time](7) NULL,
	[Onay_Durumu] [bit] NULL,
	[Email] [varchar](100) NULL,
	[Sifre_Hash] [varchar](255) NULL,
	[Yetkili_Ad_Soyad] [varchar](100) NULL,
	[Telefon] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Market_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Market_Basvuru]    Script Date: 13.05.2026 12:48:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Market_Basvuru](
	[Basvuru_ID] [int] IDENTITY(1,1) NOT NULL,
	[Zincir_Adi] [varchar](100) NOT NULL,
	[Sube_Adi] [varchar](100) NOT NULL,
	[Sehir] [varchar](50) NOT NULL,
	[Ilce] [varchar](50) NOT NULL,
	[Yetkili_Ad_Soyad] [varchar](100) NOT NULL,
	[Telefon] [varchar](20) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Basvuru_Tarihi] [datetime] NULL,
	[Durum] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Basvuru_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paket]    Script Date: 13.05.2026 12:48:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paket](
	[Paket_ID] [int] IDENTITY(1,1) NOT NULL,
	[Market_ID] [int] NOT NULL,
	[Paket_Adi] [varchar](150) NOT NULL,
	[Normal_Fiyat] [decimal](10, 2) NOT NULL,
	[Indirimli_Fiyat] [decimal](10, 2) NOT NULL,
	[Stok_Adedi] [int] NOT NULL,
	[Son_Satis_Saati] [datetime] NOT NULL,
	[Olusturma_Tarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Paket_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paket_Urun_Detay]    Script Date: 13.05.2026 12:48:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paket_Urun_Detay](
	[Paket_ID] [int] NOT NULL,
	[Urun_ID] [int] NOT NULL,
	[Miktar] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Paket_ID] ASC,
	[Urun_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rezervasyon]    Script Date: 13.05.2026 12:48:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rezervasyon](
	[Islem_ID] [int] IDENTITY(1,1) NOT NULL,
	[Tuketici_ID] [int] NOT NULL,
	[Urun_ID] [int] NOT NULL,
	[Miktar] [int] NOT NULL,
	[Olusturma_Zamani] [datetime] NULL,
	[PIN_Kodu] [varchar](10) NOT NULL,
	[Durum] [varchar](20) NULL,
	[Alinan_Fiyat] [decimal](10, 2) NULL,
	[Edilen_Tasarruf] [decimal](10, 2) NULL,
	[Paket_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Islem_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tuketici]    Script Date: 13.05.2026 12:48:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tuketici](
	[Tuketici_ID] [int] IDENTITY(1,1) NOT NULL,
	[Ad_Soyad] [varchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Sifre_Hash] [varchar](255) NOT NULL,
	[Kurtarilan_Gida_Kg] [float] NULL,
	[Toplam_Puan] [int] NULL,
	[Kurtarilan_Kg] [decimal](10, 2) NULL,
	[Toplam_Tasarruf] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Tuketici_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tuketici_Odulleri]    Script Date: 13.05.2026 12:48:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tuketici_Odulleri](
	[Islem_ID] [int] IDENTITY(1,1) NOT NULL,
	[Tuketici_ID] [int] NOT NULL,
	[Odul_Turu] [varchar](100) NOT NULL,
	[Harcanan_Puan] [int] NOT NULL,
	[Kullanildi_Mi] [bit] NULL,
	[Kazanma_Tarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Islem_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Urun]    Script Date: 13.05.2026 12:48:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Urun](
	[Urun_ID] [int] IDENTITY(1,1) NOT NULL,
	[Market_ID] [int] NOT NULL,
	[Urun_Adi] [varchar](100) NOT NULL,
	[Normal_Fiyat] [decimal](10, 2) NOT NULL,
	[Indirimli_Fiyat] [decimal](10, 2) NOT NULL,
	[Son_Tuketim_Tarihi] [datetime] NOT NULL,
	[Stok_Miktari] [int] NOT NULL,
	[Barkod] [varchar](50) NULL,
	[Kategori_ID] [int] NULL,
	[SKT] [datetime] NULL,
	[Kategori] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Urun_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Market] ON 

INSERT [dbo].[Market] ([Market_ID], [Market_Adi], [Adres], [Konum_Enlem], [Konum_Boylam], [Acilis_Saati], [Kapanis_Saati], [Onay_Durumu], [Email], [Sifre_Hash], [Yetkili_Ad_Soyad], [Telefon]) VALUES (1, N'BİM', N'Silivri Merkez Şubesi', 41.07, 28.24, CAST(N'09:00:00' AS Time), CAST(N'21:00:00' AS Time), 1, N'market1@test.com', NULL, NULL, NULL)
INSERT [dbo].[Market] ([Market_ID], [Market_Adi], [Adres], [Konum_Enlem], [Konum_Boylam], [Acilis_Saati], [Kapanis_Saati], [Onay_Durumu], [Email], [Sifre_Hash], [Yetkili_Ad_Soyad], [Telefon]) VALUES (2, N'BİM', N'Silivri Merkez Şubesi', 41.07, 28.24, CAST(N'09:00:00' AS Time), CAST(N'21:00:00' AS Time), 1, N'market2@gmail.com', NULL, NULL, NULL)
INSERT [dbo].[Market] ([Market_ID], [Market_Adi], [Adres], [Konum_Enlem], [Konum_Boylam], [Acilis_Saati], [Kapanis_Saati], [Onay_Durumu], [Email], [Sifre_Hash], [Yetkili_Ad_Soyad], [Telefon]) VALUES (29, N'Silivri Taze Manav', N'Silivri Merkez', 41.07, 28.24, CAST(N'08:00:00' AS Time), CAST(N'22:00:00' AS Time), 0, N'manav@test.com', N'123456', N'Defne Boz', N'05551112233')
SET IDENTITY_INSERT [dbo].[Market] OFF
GO
SET IDENTITY_INSERT [dbo].[Rezervasyon] ON 

INSERT [dbo].[Rezervasyon] ([Islem_ID], [Tuketici_ID], [Urun_ID], [Miktar], [Olusturma_Zamani], [PIN_Kodu], [Durum], [Alinan_Fiyat], [Edilen_Tasarruf], [Paket_ID]) VALUES (1, 1, 1, 2, CAST(N'2026-03-28T18:35:33.043' AS DateTime), N'AB1234', N'Bekliyor', NULL, NULL, NULL)
INSERT [dbo].[Rezervasyon] ([Islem_ID], [Tuketici_ID], [Urun_ID], [Miktar], [Olusturma_Zamani], [PIN_Kodu], [Durum], [Alinan_Fiyat], [Edilen_Tasarruf], [Paket_ID]) VALUES (2, 1, 1, 2, CAST(N'2026-03-28T18:36:12.233' AS DateTime), N'AB1234', N'Bekliyor', NULL, NULL, NULL)
INSERT [dbo].[Rezervasyon] ([Islem_ID], [Tuketici_ID], [Urun_ID], [Miktar], [Olusturma_Zamani], [PIN_Kodu], [Durum], [Alinan_Fiyat], [Edilen_Tasarruf], [Paket_ID]) VALUES (3, 1, 1, 2, CAST(N'2026-04-05T19:24:45.317' AS DateTime), N'XYZ789', N'Bekliyor', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Rezervasyon] OFF
GO
SET IDENTITY_INSERT [dbo].[Tuketici] ON 

INSERT [dbo].[Tuketici] ([Tuketici_ID], [Ad_Soyad], [Email], [Sifre_Hash], [Kurtarilan_Gida_Kg], [Toplam_Puan], [Kurtarilan_Kg], [Toplam_Tasarruf]) VALUES (1, N'Ahmet Yılmaz', N'ahmet.yilmaz@email.com', N'12345hashed', 0, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Tuketici] OFF
GO
SET IDENTITY_INSERT [dbo].[Urun] ON 

INSERT [dbo].[Urun] ([Urun_ID], [Market_ID], [Urun_Adi], [Normal_Fiyat], [Indirimli_Fiyat], [Son_Tuketim_Tarihi], [Stok_Miktari], [Barkod], [Kategori_ID], [SKT], [Kategori]) VALUES (1, 1, N'Organik Süt 1L', CAST(30.00 AS Decimal(10, 2)), CAST(15.00 AS Decimal(10, 2)), CAST(N'2026-03-30T23:59:00.000' AS DateTime), 2, NULL, NULL, CAST(N'2026-06-30T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[Urun] ([Urun_ID], [Market_ID], [Urun_Adi], [Normal_Fiyat], [Indirimli_Fiyat], [Son_Tuketim_Tarihi], [Stok_Miktari], [Barkod], [Kategori_ID], [SKT], [Kategori]) VALUES (2, 1, N'Organik Süt 1L', CAST(30.00 AS Decimal(10, 2)), CAST(15.00 AS Decimal(10, 2)), CAST(N'2026-03-30T23:59:00.000' AS DateTime), 5, NULL, NULL, CAST(N'2026-06-30T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[Urun] ([Urun_ID], [Market_ID], [Urun_Adi], [Normal_Fiyat], [Indirimli_Fiyat], [Son_Tuketim_Tarihi], [Stok_Miktari], [Barkod], [Kategori_ID], [SKT], [Kategori]) VALUES (6, 33, N'Süt 1L', CAST(25.00 AS Decimal(10, 2)), CAST(15.00 AS Decimal(10, 2)), CAST(N'2026-05-14T00:00:00.000' AS DateTime), 10, NULL, NULL, CAST(N'2026-05-14T00:00:00.000' AS DateTime), N'Süt')
SET IDENTITY_INSERT [dbo].[Urun] OFF
GO
/****** Object:  Index [UQ_Fav_Tuk_Urn]    Script Date: 13.05.2026 12:48:01 ******/
ALTER TABLE [dbo].[Favori_Urunler] ADD  CONSTRAINT [UQ_Fav_Tuk_Urn] UNIQUE NONCLUSTERED 
(
	[Tuketici_ID] ASC,
	[Urun_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Kategori__9578E95C71BBE6A3]    Script Date: 13.05.2026 12:48:01 ******/
ALTER TABLE [dbo].[Kategori] ADD UNIQUE NONCLUSTERED 
(
	[Kategori_Adi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Market_Email]    Script Date: 13.05.2026 12:48:01 ******/
ALTER TABLE [dbo].[Market] ADD  CONSTRAINT [UQ_Market_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Tuketici__A9D10534F5B4079A]    Script Date: 13.05.2026 12:48:01 ******/
ALTER TABLE [dbo].[Tuketici] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Basvuru_Belge] ADD  DEFAULT ('Bekleniyor') FOR [Onay_Durumu]
GO
ALTER TABLE [dbo].[Bildirim] ADD  DEFAULT (getdate()) FOR [Tarih]
GO
ALTER TABLE [dbo].[Bildirim] ADD  DEFAULT ((0)) FOR [Okundu_Mu]
GO
ALTER TABLE [dbo].[Bildirimler] ADD  DEFAULT ((0)) FOR [Okundu_Mu]
GO
ALTER TABLE [dbo].[Bildirimler] ADD  DEFAULT (getdate()) FOR [Tarih]
GO
ALTER TABLE [dbo].[Favori] ADD  DEFAULT (getdate()) FOR [Eklenme_Tarihi]
GO
ALTER TABLE [dbo].[Favori_Urunler] ADD  DEFAULT (getdate()) FOR [Ekleme_Tarihi]
GO
ALTER TABLE [dbo].[Market] ADD  DEFAULT ((0)) FOR [Onay_Durumu]
GO
ALTER TABLE [dbo].[Market_Basvuru] ADD  DEFAULT (getdate()) FOR [Basvuru_Tarihi]
GO
ALTER TABLE [dbo].[Market_Basvuru] ADD  DEFAULT ('İnceleme Bekliyor') FOR [Durum]
GO
ALTER TABLE [dbo].[Paket] ADD  DEFAULT (getdate()) FOR [Olusturma_Tarihi]
GO
ALTER TABLE [dbo].[Paket_Urun_Detay] ADD  DEFAULT ((1)) FOR [Miktar]
GO
ALTER TABLE [dbo].[Rezervasyon] ADD  DEFAULT (getdate()) FOR [Olusturma_Zamani]
GO
ALTER TABLE [dbo].[Rezervasyon] ADD  DEFAULT ('Bekliyor') FOR [Durum]
GO
ALTER TABLE [dbo].[Tuketici] ADD  DEFAULT ((0)) FOR [Kurtarilan_Gida_Kg]
GO
ALTER TABLE [dbo].[Tuketici] ADD  DEFAULT ((0)) FOR [Toplam_Puan]
GO
ALTER TABLE [dbo].[Tuketici] ADD  DEFAULT ((0)) FOR [Kurtarilan_Kg]
GO
ALTER TABLE [dbo].[Tuketici] ADD  DEFAULT ((0)) FOR [Toplam_Tasarruf]
GO
ALTER TABLE [dbo].[Tuketici_Odulleri] ADD  DEFAULT ((0)) FOR [Kullanildi_Mi]
GO
ALTER TABLE [dbo].[Tuketici_Odulleri] ADD  DEFAULT (getdate()) FOR [Kazanma_Tarihi]
GO
ALTER TABLE [dbo].[Basvuru_Belge]  WITH CHECK ADD  CONSTRAINT [FK_Belge_Basvuru] FOREIGN KEY([Basvuru_ID])
REFERENCES [dbo].[Market_Basvuru] ([Basvuru_ID])
GO
ALTER TABLE [dbo].[Basvuru_Belge] CHECK CONSTRAINT [FK_Belge_Basvuru]
GO
ALTER TABLE [dbo].[Bildirim]  WITH CHECK ADD  CONSTRAINT [FK_Bildirim_Tuketici] FOREIGN KEY([Tuketici_ID])
REFERENCES [dbo].[Tuketici] ([Tuketici_ID])
GO
ALTER TABLE [dbo].[Bildirim] CHECK CONSTRAINT [FK_Bildirim_Tuketici]
GO
ALTER TABLE [dbo].[Bildirimler]  WITH CHECK ADD  CONSTRAINT [FK_Bldrm_Tuk] FOREIGN KEY([Tuketici_ID])
REFERENCES [dbo].[Tuketici] ([Tuketici_ID])
GO
ALTER TABLE [dbo].[Bildirimler] CHECK CONSTRAINT [FK_Bldrm_Tuk]
GO
ALTER TABLE [dbo].[Favori]  WITH CHECK ADD  CONSTRAINT [FK_Favori_Tuketici] FOREIGN KEY([Tuketici_ID])
REFERENCES [dbo].[Tuketici] ([Tuketici_ID])
GO
ALTER TABLE [dbo].[Favori] CHECK CONSTRAINT [FK_Favori_Tuketici]
GO
ALTER TABLE [dbo].[Favori]  WITH CHECK ADD  CONSTRAINT [FK_Favori_Urun] FOREIGN KEY([Urun_ID])
REFERENCES [dbo].[Urun] ([Urun_ID])
GO
ALTER TABLE [dbo].[Favori] CHECK CONSTRAINT [FK_Favori_Urun]
GO
ALTER TABLE [dbo].[Favori_Urunler]  WITH CHECK ADD  CONSTRAINT [FK_Fav_Tuk] FOREIGN KEY([Tuketici_ID])
REFERENCES [dbo].[Tuketici] ([Tuketici_ID])
GO
ALTER TABLE [dbo].[Favori_Urunler] CHECK CONSTRAINT [FK_Fav_Tuk]
GO
ALTER TABLE [dbo].[Favori_Urunler]  WITH CHECK ADD  CONSTRAINT [FK_Fav_Urn] FOREIGN KEY([Urun_ID])
REFERENCES [dbo].[Urun] ([Urun_ID])
GO
ALTER TABLE [dbo].[Favori_Urunler] CHECK CONSTRAINT [FK_Fav_Urn]
GO
ALTER TABLE [dbo].[Paket]  WITH CHECK ADD  CONSTRAINT [FK_Paket_Market] FOREIGN KEY([Market_ID])
REFERENCES [dbo].[Market] ([Market_ID])
GO
ALTER TABLE [dbo].[Paket] CHECK CONSTRAINT [FK_Paket_Market]
GO
ALTER TABLE [dbo].[Paket_Urun_Detay]  WITH CHECK ADD  CONSTRAINT [FK_Detay_Paket] FOREIGN KEY([Paket_ID])
REFERENCES [dbo].[Paket] ([Paket_ID])
GO
ALTER TABLE [dbo].[Paket_Urun_Detay] CHECK CONSTRAINT [FK_Detay_Paket]
GO
ALTER TABLE [dbo].[Paket_Urun_Detay]  WITH CHECK ADD  CONSTRAINT [FK_Detay_Urun] FOREIGN KEY([Urun_ID])
REFERENCES [dbo].[Urun] ([Urun_ID])
GO
ALTER TABLE [dbo].[Paket_Urun_Detay] CHECK CONSTRAINT [FK_Detay_Urun]
GO
ALTER TABLE [dbo].[Rezervasyon]  WITH CHECK ADD FOREIGN KEY([Tuketici_ID])
REFERENCES [dbo].[Tuketici] ([Tuketici_ID])
GO
ALTER TABLE [dbo].[Rezervasyon]  WITH CHECK ADD FOREIGN KEY([Urun_ID])
REFERENCES [dbo].[Urun] ([Urun_ID])
GO
ALTER TABLE [dbo].[Rezervasyon]  WITH CHECK ADD  CONSTRAINT [FK_Rezervasyon_Paket] FOREIGN KEY([Paket_ID])
REFERENCES [dbo].[Paket] ([Paket_ID])
GO
ALTER TABLE [dbo].[Rezervasyon] CHECK CONSTRAINT [FK_Rezervasyon_Paket]
GO
ALTER TABLE [dbo].[Tuketici_Odulleri]  WITH CHECK ADD  CONSTRAINT [FK_Odul_Tuketici] FOREIGN KEY([Tuketici_ID])
REFERENCES [dbo].[Tuketici] ([Tuketici_ID])
GO
ALTER TABLE [dbo].[Tuketici_Odulleri] CHECK CONSTRAINT [FK_Odul_Tuketici]
GO
ALTER TABLE [dbo].[Urun]  WITH CHECK ADD FOREIGN KEY([Market_ID])
REFERENCES [dbo].[Market] ([Market_ID])
GO
ALTER TABLE [dbo].[Urun]  WITH CHECK ADD  CONSTRAINT [FK_Urun_Kategori] FOREIGN KEY([Kategori_ID])
REFERENCES [dbo].[Kategori] ([Kategori_ID])
GO
ALTER TABLE [dbo].[Urun] CHECK CONSTRAINT [FK_Urun_Kategori]
GO
ALTER TABLE [dbo].[Paket]  WITH CHECK ADD  CONSTRAINT [CHK_Paket_Fiyat] CHECK  (([Indirimli_Fiyat]<[Normal_Fiyat]))
GO
ALTER TABLE [dbo].[Paket] CHECK CONSTRAINT [CHK_Paket_Fiyat]
GO
ALTER TABLE [dbo].[Paket]  WITH CHECK ADD  CONSTRAINT [CHK_Paket_Stok] CHECK  (([Stok_Adedi]>=(0)))
GO
ALTER TABLE [dbo].[Paket] CHECK CONSTRAINT [CHK_Paket_Stok]
GO
ALTER TABLE [dbo].[Rezervasyon]  WITH CHECK ADD  CONSTRAINT [CHK_Urun_Veya_Paket] CHECK  (([Urun_ID] IS NOT NULL AND [Paket_ID] IS NULL OR [Urun_ID] IS NULL AND [Paket_ID] IS NOT NULL))
GO
ALTER TABLE [dbo].[Rezervasyon] CHECK CONSTRAINT [CHK_Urun_Veya_Paket]
GO
ALTER TABLE [dbo].[Rezervasyon]  WITH CHECK ADD CHECK  (([Durum]='Iptal' OR [Durum]='Tamamlandi' OR [Durum]='Bekliyor'))
GO
ALTER TABLE [dbo].[Tuketici]  WITH CHECK ADD  CONSTRAINT [CHK_Kurtarilan_Kg] CHECK  (([Kurtarilan_Gida_Kg]>=(0)))
GO
ALTER TABLE [dbo].[Tuketici] CHECK CONSTRAINT [CHK_Kurtarilan_Kg]
GO
ALTER TABLE [dbo].[Urun]  WITH CHECK ADD  CONSTRAINT [CHK_Fiyat_Mantigi] CHECK  (([Indirimli_Fiyat]<[Normal_Fiyat]))
GO
ALTER TABLE [dbo].[Urun] CHECK CONSTRAINT [CHK_Fiyat_Mantigi]
GO
ALTER TABLE [dbo].[Urun]  WITH CHECK ADD  CONSTRAINT [CHK_Stok_Miktari] CHECK  (([Stok_Miktari]>=(0)))
GO
ALTER TABLE [dbo].[Urun] CHECK CONSTRAINT [CHK_Stok_Miktari]
GO
/****** Object:  StoredProcedure [dbo].[sp_QR_Satis_Onayla]    Script Date: 13.05.2026 12:48:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ====================================================================
-- AÇIK 3'ÜN ÇÖZÜMÜ: QR ONAY VE İŞLEM TAMAMLAMA (KASA İŞLEMİ)
-- ====================================================================
CREATE PROCEDURE [dbo].[sp_QR_Satis_Onayla]
    @p_PIN_Kodu VARCHAR(10)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        DECLARE @Rez_ID INT, @Tuketici_ID INT, @Durum VARCHAR(50);
        
        -- Marketçinin girdiği PIN kodunu veritabanında arıyoruz
        SELECT @Rez_ID = Islem_ID, @Tuketici_ID = Tuketici_ID, @Durum = Durum 
        FROM Rezervasyon 
        WHERE PIN_Kodu = @p_PIN_Kodu;

        -- Eğer böyle bir PIN varsa ve durumu hala 'Bekliyor' ise işlemi başlat
        IF (@Rez_ID IS NOT NULL AND @Durum = 'Bekliyor')
        BEGIN
            BEGIN TRANSACTION;
                -- 1. ADIM: Satışı Onayla (Durumu güncelleyip Merve'nin arayüzündeki yeşil tiki yaktırıyoruz)
                UPDATE Rezervasyon SET Durum = 'Tamamlandı' WHERE Islem_ID = @Rez_ID;

                -- 2. ADIM: Çevresel Etki (Tüketici ürünü gerçekten aldığı için, kurtardığı israf miktarını örneğin 0.5 kg artırıyoruz)
                UPDATE Tuketici SET Kurtarilan_Gida_Kg = Kurtarilan_Gida_Kg + 0.5 WHERE Tuketici_ID = @Tuketici_ID;

                PRINT 'Sistem Mesajı: Başarılı! QR/PIN Doğrulandı. Ürün müşteriye teslim edildi, tasarruf ve çevre puanları hesaba eklendi.';
            COMMIT TRANSACTION;
        END
        ELSE
        BEGIN
            -- Yanlış şifre girilirse veya süresi geçmişse Backend'e (Mehtap'a) hata fırlat
            RAISERROR('Kritik Hata: Geçersiz PIN Kodu veya süresi dolmuş rezervasyon!', 16, 1);
        END
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        PRINT 'Veritabanı Hatası: ' + ERROR_MESSAGE();
    END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_QR_Satis_Tamamla]    Script Date: 13.05.2026 12:48:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Sadece prosedürü güncelliyoruz (Tablolara dokunmuyoruz)
CREATE   PROCEDURE [dbo].[sp_QR_Satis_Tamamla]
    @p_PIN_Kodu VARCHAR(10)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        DECLARE @Islem_ID INT, @Tuketici_ID INT, @Durum VARCHAR(20);

        -- Kasiyerin girdiği PIN kodunu ROWLOCK (Satır Kilidi) ile güvenli şekilde bul
        SELECT @Islem_ID = Islem_ID, @Tuketici_ID = Tuketici_ID, @Durum = Durum
        FROM Rezervasyon WITH (UPDLOCK, ROWLOCK)
        WHERE PIN_Kodu = @p_PIN_Kodu;

        -- Eğer böyle bir rezervasyon varsa ve durumu 'Bekliyor' ise:
        IF (@Islem_ID IS NOT NULL AND @Durum = 'Bekliyor')
        BEGIN
            -- 1. Rezervasyonun durumunu "Tamamlandı" yap
            UPDATE Rezervasyon SET Durum = 'Tamamlandı' WHERE Islem_ID = @Islem_ID;

            -- 2. Tüketicinin Çevresel Etki puanını artır (NULL hatasını engellemek için ISNULL kullandık)
            UPDATE Tuketici SET Kurtarilan_Gida_Kg = ISNULL(Kurtarilan_Gida_Kg, 0) + 0.5
            WHERE Tuketici_ID = @Tuketici_ID;

            COMMIT TRANSACTION;
            PRINT 'Sistem Mesajı: Başarılı! QR Kod onaylandı, satış tamamlandı ve doğa puanı artırıldı.';
        END
        ELSE
        BEGIN
            -- İşlem daha önce tamamlanmışsa veya PIN yanlışsa iptal et
            ROLLBACK TRANSACTION;
            RAISERROR('Hata: Bu PIN kodu geçersiz veya süresi dolmuş!', 16, 1);
        END
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        PRINT 'Sistem Hatası: ' + ERROR_MESSAGE();
    END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_Rezervasyon_Yapar]    Script Date: 13.05.2026 12:48:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Daha önce yazdığımız prosedürü (ALTER) komutuyla güncelliyoruz
CREATE PROCEDURE [dbo].[sp_Rezervasyon_Yapar]
    @p_Tuketici_ID INT,
    @p_Urun_ID INT,
    @p_Miktar INT,
    @p_PIN_Kodu VARCHAR(10)
AS
BEGIN
    SET NOCOUNT ON; -- Gereksiz sistem mesajlarını kapatıp hızı artırır

    BEGIN TRY
        -- KİLİT BAŞLANGICI: Veritabanına "Dikkat, çok kritik bir işleme başlıyorum" diyoruz.
        BEGIN TRANSACTION; 

        DECLARE @MevcutStok INT;

        -- MAGIC TOUCH (SİHİRLİ DOKUNUŞ): 
        -- WITH (UPDLOCK, ROWLOCK) kodu, bu satırı işlem bitene kadar başka kimsenin okuyamaması için kilitler!
        SELECT @MevcutStok = Stok_Miktari 
        FROM Urun WITH (UPDLOCK, ROWLOCK) 
        WHERE Urun_ID = @p_Urun_ID;

        -- Stok kontrolü
        IF (@MevcutStok >= @p_Miktar)
        BEGIN
            -- Stok varsa rezervasyonu içeri yaz
            INSERT INTO Rezervasyon (Tuketici_ID, Urun_ID, Miktar, Olusturma_Zamani, PIN_Kodu, Durum)
            VALUES (@p_Tuketici_ID, @p_Urun_ID, @p_Miktar, GETDATE(), @p_PIN_Kodu, 'Bekliyor');
            
            -- COMMIT: İşlemi kalıcı olarak kaydet ve KİLİDİ AÇ. (Trigger da burada çalışıp stoğu düşecek)
            COMMIT TRANSACTION;
            PRINT 'Sistem Mesajı: Başarılı! Rezervasyon yapıldı ve satır kilidi açıldı.';
        END
        ELSE
        BEGIN
            -- ROLLBACK: Stok yetersizse yapılan her şeyi iptal et ve KİLİDİ AÇ.
            ROLLBACK TRANSACTION;
            RAISERROR('Kritik Hata: Üzgünüz, bu ürün az önce başka bir tüketici tarafından rezerve edildi!', 16, 1);
        END

    END TRY
    BEGIN CATCH
        -- Beklenmeyen bir çökme olursa, sistemi kilitli bırakmamak için işlemi geri al (ROLLBACK)
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
            
        PRINT 'Veritabanı Hatası: ' + ERROR_MESSAGE();
    END CATCH
END;

GO
/****** Object:  Trigger [dbo].[trg_Rezervasyon_StokDus]    Script Date: 13.05.2026 12:48:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[trg_Rezervasyon_StokDus]
ON [dbo].[Rezervasyon]
AFTER INSERT
AS
BEGIN
    -- 'inserted' sanal tablosu, az önce Rezervasyon tablosuna eklenen yeni kaydı tutar.
    -- Bu kod, yeni rezerve edilen ürünün ID'sini bulur ve Urun tablosundaki stoğundan, ayrılan miktar kadarını çıkarır.
    UPDATE U
    SET U.Stok_Miktari = U.Stok_Miktari - I.Miktar
    FROM Urun U
    INNER JOIN inserted I ON U.Urun_ID = I.Urun_ID;
    
    PRINT 'Sistem Mesajı: Trigger çalıştı! Rezervasyon alındı ve stok otomatik güncellendi.';
END;

GO
ALTER TABLE [dbo].[Rezervasyon] ENABLE TRIGGER [trg_Rezervasyon_StokDus]
GO
/****** Object:  Trigger [dbo].[trg_Odul_Puan_Dus]    Script Date: 13.05.2026 12:48:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Bir ödül alındığında, kullanıcının toplam puanından o ödülün puanını otomatik düşen Trigger
CREATE TRIGGER [dbo].[trg_Odul_Puan_Dus]
ON [dbo].[Tuketici_Odulleri]
AFTER INSERT
AS
BEGIN
    -- Eklenen yeni ödül kaydındaki Müşteri ID'sini ve Harcanan Puanı alıyoruz
    DECLARE @Tuketici INT, @Harcanan INT;
    SELECT @Tuketici = Tuketici_ID, @Harcanan = Harcanan_Puan FROM inserted;
    
    -- Müşterinin toplam puanından harcanan puanı düşüyoruz
    UPDATE Tuketici 
    SET Toplam_Puan = Toplam_Puan - @Harcanan
    WHERE Tuketici_ID = @Tuketici;
END;

GO
ALTER TABLE [dbo].[Tuketici_Odulleri] ENABLE TRIGGER [trg_Odul_Puan_Dus]
GO
