USE [master]
GO
/****** Object:  Database [TazeKalsinDB]    Script Date: 5.04.2026 21:29:02 ******/
CREATE DATABASE [TazeKalsinDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TazeKalsinDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TazeKalsinDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TazeKalsinDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TazeKalsinDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TazeKalsinDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TazeKalsinDB]
GO
/****** Object:  Table [dbo].[Basvuru_Belge]    Script Date: 5.04.2026 21:29:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Basvuru_Belge](
	[Belge_ID] [int] IDENTITY(1,1) NOT NULL,
	[Basvuru_ID] [int] NOT NULL,
	[Belge_Turu] [varchar](100) NOT NULL,
	[Dosya_Yolu] [varchar](255) NULL,
	[Onay_Durumu] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Belge_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bildirim]    Script Date: 5.04.2026 21:29:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bildirim](
	[Bildirim_ID] [int] IDENTITY(1,1) NOT NULL,
	[Tuketici_ID] [int] NULL,
	[Baslik] [varchar](100) NOT NULL,
	[Icerik] [text] NOT NULL,
	[Etiket] [varchar](50) NULL,
	[Tarih] [datetime] NULL,
	[Okundu_Mu] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Bildirim_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Favori]    Script Date: 5.04.2026 21:29:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favori](
	[Tuketici_ID] [int] NOT NULL,
	[Urun_ID] [int] NOT NULL,
	[Eklenme_Tarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Tuketici_ID] ASC,
	[Urun_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kategori]    Script Date: 5.04.2026 21:29:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategori](
	[Kategori_ID] [int] IDENTITY(1,1) NOT NULL,
	[Kategori_Adi] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Kategori_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Kategori_Adi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Market]    Script Date: 5.04.2026 21:29:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Market](
	[Market_ID] [int] IDENTITY(1,1) NOT NULL,
	[Market_Adi] [varchar](100) NOT NULL,
	[Adres] [nvarchar](max) NULL,
	[Konum_Enlem] [float] NULL,
	[Konum_Boylam] [float] NULL,
	[Acilis_Saati] [time](7) NULL,
	[Kapanis_Saati] [time](7) NULL,
	[Onay_Durumu] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Market_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Market_Basvuru]    Script Date: 5.04.2026 21:29:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Market_Basvuru](
	[Basvuru_ID] [int] IDENTITY(1,1) NOT NULL,
	[Zincir_Adi] [varchar](100) NOT NULL,
	[Sube_Adi] [varchar](100) NOT NULL,
	[Sehir] [varchar](50) NOT NULL,
	[Ilce] [varchar](50) NOT NULL,
	[Yetkili_Ad_Soyad] [varchar](100) NOT NULL,
	[Telefon] [varchar](20) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Basvuru_Tarihi] [datetime] NULL,
	[Durum] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Basvuru_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paket]    Script Date: 5.04.2026 21:29:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paket](
	[Paket_ID] [int] IDENTITY(1,1) NOT NULL,
	[Market_ID] [int] NOT NULL,
	[Paket_Adi] [varchar](150) NOT NULL,
	[Normal_Fiyat] [decimal](10, 2) NOT NULL,
	[Indirimli_Fiyat] [decimal](10, 2) NOT NULL,
	[Stok_Adedi] [int] NOT NULL,
	[Son_Satis_Saati] [datetime] NOT NULL,
	[Olusturma_Tarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Paket_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paket_Urun_Detay]    Script Date: 5.04.2026 21:29:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paket_Urun_Detay](
	[Paket_ID] [int] NOT NULL,
	[Urun_ID] [int] NOT NULL,
	[Miktar] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Paket_ID] ASC,
	[Urun_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rezervasyon]    Script Date: 5.04.2026 21:29:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rezervasyon](
	[Islem_ID] [int] IDENTITY(1,1) NOT NULL,
	[Tuketici_ID] [int] NOT NULL,
	[Urun_ID] [int] NOT NULL,
	[Miktar] [int] NOT NULL,
	[Olusturma_Zamani] [datetime] NULL,
	[PIN_Kodu] [varchar](10) NOT NULL,
	[Durum] [varchar](20) NULL,
	[Alinan_Fiyat] [decimal](10, 2) NULL,
	[Edilen_Tasarruf] [decimal](10, 2) NULL,
	[Paket_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Islem_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tuketici]    Script Date: 5.04.2026 21:29:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tuketici](
	[Tuketici_ID] [int] IDENTITY(1,1) NOT NULL,
	[Ad_Soyad] [varchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Sifre_Hash] [varchar](255) NOT NULL,
	[Kurtarilan_Gida_Kg] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[Tuketici_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Urun]    Script Date: 5.04.2026 21:29:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Urun](
	[Urun_ID] [int] IDENTITY(1,1) NOT NULL,
	[Market_ID] [int] NOT NULL,
	[Urun_Adi] [varchar](100) NOT NULL,
	[Normal_Fiyat] [decimal](10, 2) NOT NULL,
	[Indirimli_Fiyat] [decimal](10, 2) NOT NULL,
	[Son_Tuketim_Tarihi] [datetime] NOT NULL,
	[Stok_Miktari] [int] NOT NULL,
	[Barkod] [varchar](50) NULL,
	[Kategori_ID] [int] NULL,
	[SKT] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Urun_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Basvuru_Belge] ADD  DEFAULT ('Bekleniyor') FOR [Onay_Durumu]
GO
ALTER TABLE [dbo].[Bildirim] ADD  DEFAULT (getdate()) FOR [Tarih]
GO
ALTER TABLE [dbo].[Bildirim] ADD  DEFAULT ((0)) FOR [Okundu_Mu]
GO
ALTER TABLE [dbo].[Favori] ADD  DEFAULT (getdate()) FOR [Eklenme_Tarihi]
GO
ALTER TABLE [dbo].[Market] ADD  DEFAULT ((0)) FOR [Onay_Durumu]
GO
ALTER TABLE [dbo].[Market_Basvuru] ADD  DEFAULT (getdate()) FOR [Basvuru_Tarihi]
GO
ALTER TABLE [dbo].[Market_Basvuru] ADD  DEFAULT ('İnceleme Bekliyor') FOR [Durum]
GO
ALTER TABLE [dbo].[Paket] ADD  DEFAULT (getdate()) FOR [Olusturma_Tarihi]
GO
ALTER TABLE [dbo].[Paket_Urun_Detay] ADD  DEFAULT ((1)) FOR [Miktar]
GO
ALTER TABLE [dbo].[Rezervasyon] ADD  DEFAULT (getdate()) FOR [Olusturma_Zamani]
GO
ALTER TABLE [dbo].[Rezervasyon] ADD  DEFAULT ('Bekliyor') FOR [Durum]
GO
ALTER TABLE [dbo].[Tuketici] ADD  DEFAULT ((0)) FOR [Kurtarilan_Gida_Kg]
GO
ALTER TABLE [dbo].[Basvuru_Belge]  WITH CHECK ADD  CONSTRAINT [FK_Belge_Basvuru] FOREIGN KEY([Basvuru_ID])
REFERENCES [dbo].[Market_Basvuru] ([Basvuru_ID])
GO
ALTER TABLE [dbo].[Basvuru_Belge] CHECK CONSTRAINT [FK_Belge_Basvuru]
GO
ALTER TABLE [dbo].[Bildirim]  WITH CHECK ADD  CONSTRAINT [FK_Bildirim_Tuketici] FOREIGN KEY([Tuketici_ID])
REFERENCES [dbo].[Tuketici] ([Tuketici_ID])
GO
ALTER TABLE [dbo].[Bildirim] CHECK CONSTRAINT [FK_Bildirim_Tuketici]
GO
ALTER TABLE [dbo].[Favori]  WITH CHECK ADD  CONSTRAINT [FK_Favori_Tuketici] FOREIGN KEY([Tuketici_ID])
REFERENCES [dbo].[Tuketici] ([Tuketici_ID])
GO
ALTER TABLE [dbo].[Favori] CHECK CONSTRAINT [FK_Favori_Tuketici]
GO
ALTER TABLE [dbo].[Favori]  WITH CHECK ADD  CONSTRAINT [FK_Favori_Urun] FOREIGN KEY([Urun_ID])
REFERENCES [dbo].[Urun] ([Urun_ID])
GO
ALTER TABLE [dbo].[Favori] CHECK CONSTRAINT [FK_Favori_Urun]
GO
ALTER TABLE [dbo].[Paket]  WITH CHECK ADD  CONSTRAINT [FK_Paket_Market] FOREIGN KEY([Market_ID])
REFERENCES [dbo].[Market] ([Market_ID])
GO
ALTER TABLE [dbo].[Paket] CHECK CONSTRAINT [FK_Paket_Market]
GO
ALTER TABLE [dbo].[Paket_Urun_Detay]  WITH CHECK ADD  CONSTRAINT [FK_Detay_Paket] FOREIGN KEY([Paket_ID])
REFERENCES [dbo].[Paket] ([Paket_ID])
GO
ALTER TABLE [dbo].[Paket_Urun_Detay] CHECK CONSTRAINT [FK_Detay_Paket]
GO
ALTER TABLE [dbo].[Paket_Urun_Detay]  WITH CHECK ADD  CONSTRAINT [FK_Detay_Urun] FOREIGN KEY([Urun_ID])
REFERENCES [dbo].[Urun] ([Urun_ID])
GO
ALTER TABLE [dbo].[Paket_Urun_Detay] CHECK CONSTRAINT [FK_Detay_Urun]
GO
ALTER TABLE [dbo].[Rezervasyon]  WITH CHECK ADD FOREIGN KEY([Tuketici_ID])
REFERENCES [dbo].[Tuketici] ([Tuketici_ID])
GO
ALTER TABLE [dbo].[Rezervasyon]  WITH CHECK ADD FOREIGN KEY([Urun_ID])
REFERENCES [dbo].[Urun] ([Urun_ID])
GO
ALTER TABLE [dbo].[Rezervasyon]  WITH CHECK ADD  CONSTRAINT [FK_Rezervasyon_Paket] FOREIGN KEY([Paket_ID])
REFERENCES [dbo].[Paket] ([Paket_ID])
GO
ALTER TABLE [dbo].[Rezervasyon] CHECK CONSTRAINT [FK_Rezervasyon_Paket]
GO
ALTER TABLE [dbo].[Urun]  WITH CHECK ADD FOREIGN KEY([Market_ID])
REFERENCES [dbo].[Market] ([Market_ID])
GO
ALTER TABLE [dbo].[Urun]  WITH CHECK ADD  CONSTRAINT [FK_Urun_Kategori] FOREIGN KEY([Kategori_ID])
REFERENCES [dbo].[Kategori] ([Kategori_ID])
GO
ALTER TABLE [dbo].[Urun] CHECK CONSTRAINT [FK_Urun_Kategori]
GO
ALTER TABLE [dbo].[Paket]  WITH CHECK ADD  CONSTRAINT [CHK_Paket_Fiyat] CHECK  (([Indirimli_Fiyat]<[Normal_Fiyat]))
GO
ALTER TABLE [dbo].[Paket] CHECK CONSTRAINT [CHK_Paket_Fiyat]
GO
ALTER TABLE [dbo].[Paket]  WITH CHECK ADD  CONSTRAINT [CHK_Paket_Stok] CHECK  (([Stok_Adedi]>=(0)))
GO
ALTER TABLE [dbo].[Paket] CHECK CONSTRAINT [CHK_Paket_Stok]
GO
ALTER TABLE [dbo].[Rezervasyon]  WITH CHECK ADD  CONSTRAINT [CHK_Urun_Veya_Paket] CHECK  (([Urun_ID] IS NOT NULL AND [Paket_ID] IS NULL OR [Urun_ID] IS NULL AND [Paket_ID] IS NOT NULL))
GO
ALTER TABLE [dbo].[Rezervasyon] CHECK CONSTRAINT [CHK_Urun_Veya_Paket]
GO
ALTER TABLE [dbo].[Rezervasyon]  WITH CHECK ADD CHECK  (([Durum]='Iptal' OR [Durum]='Tamamlandi' OR [Durum]='Bekliyor'))
GO
ALTER TABLE [dbo].[Tuketici]  WITH CHECK ADD  CONSTRAINT [CHK_Kurtarilan_Kg] CHECK  (([Kurtarilan_Gida_Kg]>=(0)))
GO
ALTER TABLE [dbo].[Tuketici] CHECK CONSTRAINT [CHK_Kurtarilan_Kg]
GO
ALTER TABLE [dbo].[Urun]  WITH CHECK ADD  CONSTRAINT [CHK_Fiyat_Mantigi] CHECK  (([Indirimli_Fiyat]<[Normal_Fiyat]))
GO
ALTER TABLE [dbo].[Urun] CHECK CONSTRAINT [CHK_Fiyat_Mantigi]
GO
ALTER TABLE [dbo].[Urun]  WITH CHECK ADD  CONSTRAINT [CHK_Stok_Miktari] CHECK  (([Stok_Miktari]>=(0)))
GO
ALTER TABLE [dbo].[Urun] CHECK CONSTRAINT [CHK_Stok_Miktari]
GO
/****** Object:  StoredProcedure [dbo].[sp_QR_Satis_Onayla]    Script Date: 5.04.2026 21:29:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ====================================================================
-- AÇIK 3'ÜN ÇÖZÜMÜ: QR ONAY VE İŞLEM TAMAMLAMA (KASA İŞLEMİ)
-- ====================================================================
CREATE PROCEDURE [dbo].[sp_QR_Satis_Onayla]
    @p_PIN_Kodu VARCHAR(10)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        DECLARE @Rez_ID INT, @Tuketici_ID INT, @Durum VARCHAR(50);
        
        -- Marketçinin girdiği PIN kodunu veritabanında arıyoruz
        SELECT @Rez_ID = Islem_ID, @Tuketici_ID = Tuketici_ID, @Durum = Durum 
        FROM Rezervasyon 
        WHERE PIN_Kodu = @p_PIN_Kodu;

        -- Eğer böyle bir PIN varsa ve durumu hala 'Bekliyor' ise işlemi başlat
        IF (@Rez_ID IS NOT NULL AND @Durum = 'Bekliyor')
        BEGIN
            BEGIN TRANSACTION;
                -- 1. ADIM: Satışı Onayla (Durumu güncelleyip Merve'nin arayüzündeki yeşil tiki yaktırıyoruz)
                UPDATE Rezervasyon SET Durum = 'Tamamlandı' WHERE Islem_ID = @Rez_ID;

                -- 2. ADIM: Çevresel Etki (Tüketici ürünü gerçekten aldığı için, kurtardığı israf miktarını örneğin 0.5 kg artırıyoruz)
                UPDATE Tuketici SET Kurtarilan_Gida_Kg = Kurtarilan_Gida_Kg + 0.5 WHERE Tuketici_ID = @Tuketici_ID;

                PRINT 'Sistem Mesajı: Başarılı! QR/PIN Doğrulandı. Ürün müşteriye teslim edildi, tasarruf ve çevre puanları hesaba eklendi.';
            COMMIT TRANSACTION;
        END
        ELSE
        BEGIN
            -- Yanlış şifre girilirse veya süresi geçmişse Backend'e (Mehtap'a) hata fırlat
            RAISERROR('Kritik Hata: Geçersiz PIN Kodu veya süresi dolmuş rezervasyon!', 16, 1);
        END
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        PRINT 'Veritabanı Hatası: ' + ERROR_MESSAGE();
    END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_QR_Satis_Tamamla]    Script Date: 5.04.2026 21:29:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Sadece prosedürü güncelliyoruz (Tablolara dokunmuyoruz)
CREATE   PROCEDURE [dbo].[sp_QR_Satis_Tamamla]
    @p_PIN_Kodu VARCHAR(10)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        DECLARE @Islem_ID INT, @Tuketici_ID INT, @Durum VARCHAR(20);

        -- Kasiyerin girdiği PIN kodunu ROWLOCK (Satır Kilidi) ile güvenli şekilde bul
        SELECT @Islem_ID = Islem_ID, @Tuketici_ID = Tuketici_ID, @Durum = Durum
        FROM Rezervasyon WITH (UPDLOCK, ROWLOCK)
        WHERE PIN_Kodu = @p_PIN_Kodu;

        -- Eğer böyle bir rezervasyon varsa ve durumu 'Bekliyor' ise:
        IF (@Islem_ID IS NOT NULL AND @Durum = 'Bekliyor')
        BEGIN
            -- 1. Rezervasyonun durumunu "Tamamlandı" yap
            UPDATE Rezervasyon SET Durum = 'Tamamlandı' WHERE Islem_ID = @Islem_ID;

            -- 2. Tüketicinin Çevresel Etki puanını artır (NULL hatasını engellemek için ISNULL kullandık)
            UPDATE Tuketici SET Kurtarilan_Gida_Kg = ISNULL(Kurtarilan_Gida_Kg, 0) + 0.5
            WHERE Tuketici_ID = @Tuketici_ID;

            COMMIT TRANSACTION;
            PRINT 'Sistem Mesajı: Başarılı! QR Kod onaylandı, satış tamamlandı ve doğa puanı artırıldı.';
        END
        ELSE
        BEGIN
            -- İşlem daha önce tamamlanmışsa veya PIN yanlışsa iptal et
            ROLLBACK TRANSACTION;
            RAISERROR('Hata: Bu PIN kodu geçersiz veya süresi dolmuş!', 16, 1);
        END
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        PRINT 'Sistem Hatası: ' + ERROR_MESSAGE();
    END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_Rezervasyon_Yapar]    Script Date: 5.04.2026 21:29:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Daha önce yazdığımız prosedürü (ALTER) komutuyla güncelliyoruz
CREATE PROCEDURE [dbo].[sp_Rezervasyon_Yapar]
    @p_Tuketici_ID INT,
    @p_Urun_ID INT,
    @p_Miktar INT,
    @p_PIN_Kodu VARCHAR(10)
AS
BEGIN
    SET NOCOUNT ON; -- Gereksiz sistem mesajlarını kapatıp hızı artırır

    BEGIN TRY
        -- KİLİT BAŞLANGICI: Veritabanına "Dikkat, çok kritik bir işleme başlıyorum" diyoruz.
        BEGIN TRANSACTION; 

        DECLARE @MevcutStok INT;

        -- MAGIC TOUCH (SİHİRLİ DOKUNUŞ): 
        -- WITH (UPDLOCK, ROWLOCK) kodu, bu satırı işlem bitene kadar başka kimsenin okuyamaması için kilitler!
        SELECT @MevcutStok = Stok_Miktari 
        FROM Urun WITH (UPDLOCK, ROWLOCK) 
        WHERE Urun_ID = @p_Urun_ID;

        -- Stok kontrolü
        IF (@MevcutStok >= @p_Miktar)
        BEGIN
            -- Stok varsa rezervasyonu içeri yaz
            INSERT INTO Rezervasyon (Tuketici_ID, Urun_ID, Miktar, Olusturma_Zamani, PIN_Kodu, Durum)
            VALUES (@p_Tuketici_ID, @p_Urun_ID, @p_Miktar, GETDATE(), @p_PIN_Kodu, 'Bekliyor');
            
            -- COMMIT: İşlemi kalıcı olarak kaydet ve KİLİDİ AÇ. (Trigger da burada çalışıp stoğu düşecek)
            COMMIT TRANSACTION;
            PRINT 'Sistem Mesajı: Başarılı! Rezervasyon yapıldı ve satır kilidi açıldı.';
        END
        ELSE
        BEGIN
            -- ROLLBACK: Stok yetersizse yapılan her şeyi iptal et ve KİLİDİ AÇ.
            ROLLBACK TRANSACTION;
            RAISERROR('Kritik Hata: Üzgünüz, bu ürün az önce başka bir tüketici tarafından rezerve edildi!', 16, 1);
        END

    END TRY
    BEGIN CATCH
        -- Beklenmeyen bir çökme olursa, sistemi kilitli bırakmamak için işlemi geri al (ROLLBACK)
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
            
        PRINT 'Veritabanı Hatası: ' + ERROR_MESSAGE();
    END CATCH
END;

GO
/****** Object:  Trigger [dbo].[trg_Rezervasyon_StokDus]    Script Date: 5.04.2026 21:29:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[trg_Rezervasyon_StokDus]
ON [dbo].[Rezervasyon]
AFTER INSERT
AS
BEGIN
    -- 'inserted' sanal tablosu, az önce Rezervasyon tablosuna eklenen yeni kaydı tutar.
    -- Bu kod, yeni rezerve edilen ürünün ID'sini bulur ve Urun tablosundaki stoğundan, ayrılan miktar kadarını çıkarır.
    UPDATE U
    SET U.Stok_Miktari = U.Stok_Miktari - I.Miktar
    FROM Urun U
    INNER JOIN inserted I ON U.Urun_ID = I.Urun_ID;
    
    PRINT 'Sistem Mesajı: Trigger çalıştı! Rezervasyon alındı ve stok otomatik güncellendi.';
END;

GO
ALTER TABLE [dbo].[Rezervasyon] ENABLE TRIGGER [trg_Rezervasyon_StokDus]
GO
USE [master]
GO
